
<form method="post">
Nuo: <input type="date" name="nuo" value="{{dateFormat nuo}}"><br>
Iki: <input type="date" name="iki" value="{{dateFormat iki}}"><br>
<input type="submit" value="Query"><br>
</form>
<hr>
